.e-involved-companies {
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding: var(--size-md);

  &__category {
    width: 50%;
  }

  &__title {
    font-size: 12px;
    margin-bottom: var(--size-xs);
    color: var(--color-gray-600);
  }

  &__link {
    color: var(--color-text);
    font-weight: 500;
    display: block;

    &:not(:first-of-type) {
      margin-top: var(--size-xs);
    }
  }
}
