<ion-header class="c-header" slot="fixed" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="tabs/games"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <article class="e-game-details">
    <!-- game content -->
    <ng-container *ngIf="game$ | async as game; else loading">
      <!-- header -->
      <header>
        <app-header-background
          *ngIf="game.artworks?.length > 0"
          [artworks]="game.artworks"></app-header-background>

        <div class="e-game-details__header u-padding--md">
          <img class="e-game-details__cover" [src]="game.cover?.url | imageUrl: 'cover_small' : true" />
          <div class="e-game-details__info">
            <!-- 53px is the max height for 2 lines of title -->
            <h3 class="e-game-details__title" #gameTitle>
              {{game.name}}

              <ng-container *ngIf="gameTitle.scrollHeight > 53">
                <button class="e-game-details__title-button" (click)="openNamePopover($event, game.name)"></button>
              </ng-container>
            </h3>

            <app-tags
              [genres]="game?.genres"
              [perspective]="game?.player_perspectives"
              [themes]="game?.themes"
              [showModal]="true">
            </app-tags>

            <div class="e-game-details__misc">
              <app-rating [game]="game"></app-rating>
            </div>
          </div>
        </div>
      </header>

      <!-- franchise -->
      <ion-list class="e-game-details__list" *ngIf="game.franchises?.length > 0">
        <ion-item class="e-game-details__list-item" *ngFor="let franchise of game.franchises">
          <div class="c-avatar">
            <app-icon src="/assets/icons/diagram-2-fill.svg"></app-icon>
          </div>
          <ion-label>{{franchise.name}}</ion-label>
          <app-icon class="e-game-details__list-icon" name="add"></app-icon>
        </ion-item>
      </ion-list>

      <!-- game content -->
      <ng-container *ngIf="game.summary">
        <div class="l-text u-padding-top--none">{{game.summary}}</div>
        <hr class="l-break" />
      </ng-container>

      <ng-container *ngIf="game.involved_companies">
        <app-involved-companies [companies]="game.involved_companies"></app-involved-companies>
        <hr class="l-break" />
      </ng-container>
    </ng-container>

    <!-- loading state -->
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </article>
</ion-content>
