<ion-header class="c-header" slot="fixed" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="tabs/games"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="game$ | async as game">
      <ng-container *ngIf="game.dlcs?.length > 0 || game.expansions?.length > 0">
        <ion-button class="c-header__button" (click)="openAdditionalContentModal(game.dlcs, game.expansions)">
          <app-icon name="add" title="Additional content"></app-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <article class="e-game-details">
    <!-- game content -->
    <ng-container *ngIf="game$ | async as game; else loading">
      <!-- header -->
      <header>
        <app-header-background
          *ngIf="game.artworks?.length > 0"
          [artworks]="game.artworks"></app-header-background>

        <div class="c-game-item u-padding--md">
          <app-game-list-item
            [game]="game"
            titleSize="normal"
            [enableOutput]="true"
            (openDates)="openReleaseDatesModal(game.release_dates)"
            (openCategories)="openCategoriesModal($event)"
            (openPlatforms)="openPlatformsModal(game.platforms)"
            (openRatings)="openRatingsModal($event)">
          </app-game-list-item>
        </div>
      </header>

      <!-- summary -->
      <ng-container *ngIf="game.summary">
        <app-collapsable-text [text]="game.summary" [noPT]="true"></app-collapsable-text>
      </ng-container>

      <!-- parent game -->
      <ng-container *ngIf="game.parent_game">
        <h5 class="u-margin-left--md u-margin-bottom--xs">Main Game</h5>
        <ion-list class="e-game-details__list">
          <ion-item class="c-ion-item c-ion-item--900" routerLink="/tabs/games/{{game.parent_game.id}}">
            <div class="c-avatar">
              <app-icon src="/assets/icons/diagram-2-fill.svg"></app-icon>
            </div>
            <ion-label>{{game.parent_game.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ng-container>

      <!-- screenshots -->
      <ng-container *ngIf="game.screenshots?.length > 0">
        <hr class="l-break u-margin-bottom--md" />
        <h5 class="u-margin-left--md">Screenshots</h5>
        <app-pic-slider
          [pictures]="game.screenshots"
          type="image"
          (openImage)="openScreenshotsModal(game.screenshots, $event)"></app-pic-slider>
      </ng-container>

      <!-- videos -->
      <ng-container *ngIf="game.videos?.length > 0">
        <hr class="l-break u-margin-bottom--md" />
        <h5 class="u-margin-left--md">Videos</h5>
        <app-pic-slider
          [videos]="game.videos"
          type="video"
          (openVideo)="openYoutubeModal($event)"></app-pic-slider>
      </ng-container>

      <!-- storyline -->
      <ng-container *ngIf="game.storyline">
        <hr class="l-break u-margin-bottom--md" />
        <h5 class="u-margin-left--md">Storyline</h5>
        <app-collapsable-text [text]="game.storyline" [halfPT]="true"></app-collapsable-text>
      </ng-container>

      <!-- game modes -->
      <ng-container *ngIf="game.game_modes?.length > 0">
        <hr class="l-break u-margin-bottom--md" />
        <h5 class="u-margin-left--md u-margin-bottom--xs">
          {{'Game mode' | plural : game.game_modes.length : 's'}}
        </h5>
        <ion-list class="e-game-details__list">
          <ion-item class="c-ion-item c-ion-item--900" *ngFor="let mode of game.game_modes">
            <div class="c-avatar">
              <app-icon *ngIf="mode.name === 'Single player'; else multi" name="person"></app-icon>
              <ng-template #multi>
                <app-icon name="people"></app-icon>
              </ng-template>
            </div>
            <ion-label>{{mode.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ng-container>

      <!-- player perspectives -->
      <ng-container *ngIf="game.player_perspectives?.length > 0">
        <hr class="l-break u-margin-bottom--md" />
        <h5 class="u-margin-left--md u-margin-bottom--xs">
          {{'Player perspective' | plural : game.player_perspectives.length : 's'}}
        </h5>
        <ion-list class="e-game-details__list">
          <ion-item class="c-ion-item c-ion-item--900" *ngFor="let perspective of game.player_perspectives">
            <div class="c-avatar">
              <app-icon name="camera"></app-icon>
            </div>
            <ion-label>{{perspective.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ng-container>

      <!-- franchise -->
      <ng-container *ngIf="game.franchises?.length > 0 && !game.parent_game">
        <hr class="l-break u-margin-bottom--md" />
        <h5 class="u-margin-left--md u-margin-bottom--xs">
          {{'Franchise' | plural : game.franchises.length : 's'}}
        </h5>
        <ion-list class="e-game-details__list">
          <ng-container *ngFor="let franchise of game.franchises">
            <ion-item
              class="c-ion-item c-ion-item--900"
              (click)="openRelatedGamesModal(franchise.games, franchise.name)">
              <div class="c-avatar">
                <app-icon src="/assets/icons/diagram-2-fill.svg"></app-icon>
              </div>
              <ion-label>{{franchise.name}}</ion-label>
              <app-icon class="e-game-details__item-icon" name="chevron-forward-outline"></app-icon>
            </ion-item>
          </ng-container>
        </ion-list>
      </ng-container>

      <!-- companies -->
      <ng-container *ngIf="game.involved_companies">
        <hr class="l-break" />
        <app-involved-companies [companies]="game.involved_companies"></app-involved-companies>
      </ng-container>

      <!-- websites -->
      <ng-container *ngIf="game.websites?.length > 0 || game.similar_games?.length > 0">
        <hr class="l-break u-margin-bottom--md" />
        <ion-list class="e-game-details__list">
          <ng-container
            *ngIf="game.category === 0 || game.category === 8 || game.category === 9 || game.category === 11">
            <ng-container *ngIf="game.similar_games?.length > 0">
              <ion-item
                class="c-ion-item c-ion-item--900"
                (click)="openRelatedGamesModal(game.similar_games, 'Similar games')">
                <div class="c-avatar">
                  <app-icon name="layers"></app-icon>
                </div>
                <ion-label>{{'Similar game' | plural : game.websites.length : 's'}}</ion-label>
                <app-icon class="e-game-details__item-icon" name="chevron-forward-outline"></app-icon>
              </ion-item>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="game.websites?.length > 0">
            <ion-item class="c-ion-item c-ion-item--900" (click)="openWebsitesModal(game.websites)">
              <div class="c-avatar">
                <app-icon name="globe-outline"></app-icon>
              </div>
              <ion-label>{{'External link' | plural : game.websites.length : 's'}}</ion-label>
              <app-icon class="e-game-details__item-icon" name="chevron-forward-outline"></app-icon>
            </ion-item>
          </ng-container>
        </ion-list>
      </ng-container>
    </ng-container>

    <!-- loading state -->
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </article>
</ion-content>
