<ion-header class="c-header" slot="fixed" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="tabs/games"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <article class="e-game-details">
    <!-- game content -->
    <ng-container *ngIf="game$ | async as game; else loading">
      <!-- header -->
      <header>
        <app-header-background
          *ngIf="game.artworks?.length > 0"
          [artworks]="game.artworks"></app-header-background>

        <div class="e-game-details__header u-padding--md">
          <img class="e-game-details__cover" [src]="game.cover?.url | imageUrl: 'cover_small' : true" />
          <div class="e-game-details__info">
            <!-- 53px is the max height for 2 lines of title -->
            <h3 class="e-game-details__title" #gameTitle>
              {{game.name}}

              <ng-container *ngIf="gameTitle.scrollHeight > 53">
                <button class="e-game-details__title-button" (click)="openNamePopover($event, game.name)"></button>
              </ng-container>
            </h3>

            <app-tags
              [genres]="game?.genres"
              [perspective]="game?.player_perspectives"
              [themes]="game?.themes"
              [showModal]="true">
            </app-tags>

            <div class="e-game-details__misc">
              <app-rating [game]="game"></app-rating>

              <ng-container *ngIf="game.platforms?.length > 0">
                <button class="c-label" (click)="openPlatformsModal(game.platforms)">
                  <app-icon src="/assets/icons/joystick.svg"></app-icon>
                  {{game.platforms.length}} {{'Platform' | plural : game.platforms.length : 's'}}
                </button>
              </ng-container>

              <ng-container *ngIf="game.first_release_date">
                <button class="c-label" (click)="openReleaseDatesModal(game.release_dates)">
                  <app-icon name="calendar"></app-icon> {{game.first_release_date | unixTimestamp}}
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </header>

      <!-- summary -->
      <ng-container *ngIf="game.summary">
        <app-collapsable-text [text]="game.summary" [noPT]="true"></app-collapsable-text>
      </ng-container>

      <!-- screenshots -->
      <ng-container *ngIf="game.screenshots?.length > 0">
        <hr class="l-break u-margin-bottom--md" />
        <h5 class="u-margin-left--md">Screenshots</h5>
        <app-pic-slider
          [pictures]="game.screenshots"
          type="image"
          (openImage)="openScreenshotsModal(game.screenshots, $event)"></app-pic-slider>
      </ng-container>

      <!-- videos -->
      <ng-container *ngIf="game.videos?.length > 0">
        <hr class="l-break u-margin-bottom--md" />
        <h5 class="u-margin-left--md">Videos</h5>
        <app-pic-slider
          [videos]="game.videos"
          type="video"
          (openVideo)="openYoutubeModal($event)"></app-pic-slider>
      </ng-container>

      <!-- storyline -->
      <ng-container *ngIf="game.storyline">
        <hr class="l-break u-margin-bottom--md" />
        <h5 class="u-margin-left--md">Storyline</h5>
        <app-collapsable-text [text]="game.storyline" [halfPT]="true"></app-collapsable-text>
      </ng-container>

      <!-- game modes -->
      <ng-container *ngIf="game.game_modes?.length > 0">
        <hr class="l-break u-margin-bottom--md" />
        <h5 class="u-margin-left--md u-margin-bottom--xs">
          {{'Game mode' | plural : game.game_modes.length : 's'}}
        </h5>
        <ion-list class="e-game-details__list">
          <ion-item class="c-ion-item c-ion-item--900" *ngFor="let mode of game.game_modes">
            <div class="c-avatar">
              <app-icon name="game-controller"></app-icon>
            </div>
            <ion-label>{{mode.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ng-container>

      <!-- franchise -->
      <ng-container *ngIf="game.franchises?.length > 0">
        <hr class="l-break u-margin-bottom--md" />
        <h5 class="u-margin-left--md u-margin-bottom--xs">
          {{'Franchise' | plural : game.franchises.length : 's'}}
        </h5>
        <ion-list class="e-game-details__list">
          <ion-item class="c-ion-item c-ion-item--900" *ngFor="let franchise of game.franchises">
            <div class="c-avatar">
              <app-icon src="/assets/icons/diagram-2-fill.svg"></app-icon>
            </div>
            <ion-label>{{franchise.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ng-container>

      <!-- companies -->
      <ng-container *ngIf="game.involved_companies">
        <hr class="l-break" />
        <app-involved-companies [companies]="game.involved_companies"></app-involved-companies>
      </ng-container>

      <!-- websites -->
      <ng-container *ngIf="game.websites?.length > 0">
        <hr class="l-break u-margin-bottom--md" />
        <ion-item class="e-game-details__item u-margin-bottom--md" (click)="openWebsitesModal(game.websites)">
          <div class="c-avatar">
            <app-icon name="globe-outline"></app-icon>
          </div>
          <ion-label>{{'External link' | plural : game.websites.length : 's'}}</ion-label>
          <app-icon class="e-game-details__item-icon" name="chevron-forward-outline"></app-icon>
        </ion-item>
      </ng-container>
    </ng-container>

    <!-- loading state -->
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </article>
</ion-content>
