<div *ngIf="isVisible">
  <ion-input></ion-input>
  <ion-textarea></ion-textarea>
  <ion-checkbox></ion-checkbox>
  <ion-item mode="ios"></ion-item>
  <ion-icon mode="ios"></ion-icon>
  <ion-select></ion-select>
  <ion-backdrop mode="ios"></ion-backdrop>
  <ion-modal mode="md"></ion-modal>
  <ion-popover mode="ios"></ion-popover>
  <!-- <ion-alert mode="ios"></ion-alert> -->
  <!-- <ion-action-sheet mode="ios"></ion-action-sheet> -->

  <ion-icon name="home"></ion-icon>
  <ion-icon name="home-outline"></ion-icon>
  <ion-icon name="game-controller"></ion-icon>
  <ion-icon name="game-controller-outline"></ion-icon>
  <ion-icon name="hardware-chip"></ion-icon>
  <ion-icon name="hardware-chip-outline"></ion-icon>
</div>
