<ion-header class="c-header" slot="fixed" mode="ios">
  <ion-toolbar>
    <ion-title>Search</ion-title>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="tabs/games"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="c-header__button">
        <app-icon name="filter"></app-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-searchbar
      formControlName="search"
      clearIcon="close"
      mode="ios"
      (ionClear)="clearResults()"></ion-searchbar>
  </form>
  <div *ngIf="loading; else searchResults">Loading</div>

  <ng-template #searchResults>
    <div class="c-games-list" *ngIf="results?.length > 0">
      <ng-container *ngFor="let game of results">
        <app-game-list-item [game]="game" titleSize="small"></app-game-list-item>
      </ng-container>
    </div>
  </ng-template>
</ion-content>
