<ion-header class="c-header" slot="fixed" mode="ios">
  <ion-toolbar>
    <ion-title>Search</ion-title>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="tabs/games"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="c-header__button" title="Filter" (click)="toggleFilter(true)">
        <app-icon name="filter"></app-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-search-filter
  [showFilter]="showFilter"
  [options]="searchPreferences"
  (close)="toggleFilter(false)"
  (update)="updateSearchPreferences($event)">
</app-search-filter>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-searchbar
      class="c-ion-searchbar"
      formControlName="search"
      clearIcon="close"
      mode="ios"
      (ionClear)="clearResults()"></ion-searchbar>
  </form>

  <ng-container *ngIf="loading; else searchResults">
    <p class="u-padding-x--md">Searching for "{{ form.value.search }}"</p>
    <app-game-list-item-loading></app-game-list-item-loading>
  </ng-container>

  <ng-template #searchResults>
    <div class="c-games-list" *ngIf="results?.length > 0">
      <ng-container *ngFor="let game of results">
        <app-game-list-item [game]="game" [ratingDisplay]="searchPreferences.ratingDisplay"></app-game-list-item>
      </ng-container>
    </div>

    <ion-infinite-scroll threshold="0px" [disabled]="infiniteScrollDisabled" (ionInfinite)="nextPage($event)">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
</ion-content>
