<ion-header class="c-header" slot="fixed" mode="ios">
  <ion-toolbar>
    <ion-title>Search</ion-title>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="tabs/games"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="c-header__button" title="Filter" (click)="toggleFilter(true)">
        <app-icon name="filter"></app-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-search-filter
  [showFilter]="showFilter"
  [options]="searchPreferences"
  (close)="toggleFilter(false)"
  (update)="updateSearchPreferences($event)">
</app-search-filter>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <div class="e-search-page__search">
      <app-icon class="e-search-page__search-icon" name="search-outline"></app-icon>
      <input type="text" formControlName="search" placeholder="Search" #searchInput />
      <ng-container *ngIf="searchInput.value !== ''">
        <button class="e-search-page__search-button" (click)="clearResults()">
          <app-icon name="close"></app-icon>
        </button>
      </ng-container>
    </div>
  </form>

  <ng-container *ngIf="loading; else searchResults">
    <p class="u-padding-x--md">Searching for "{{ form.value.search }}"</p>
    <app-game-list-item-loading></app-game-list-item-loading>
  </ng-container>

  <ng-template #searchResults>
    <div class="c-games-list" *ngIf="results?.length > 0; else noResults">
      <ng-container *ngFor="let game of results">
        <app-game-list-item [game]="game" [ratingDisplay]="searchPreferences.ratingDisplay"></app-game-list-item>
      </ng-container>

      <ion-infinite-scroll threshold="0px" [disabled]="infiniteScrollDisabled" (ionInfinite)="nextPage($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <ng-template #noResults>
      <div class="u-padding-x--md" *ngIf="searchHistory$ | async as history">
        <ng-container *ngFor="let item of history">
          <ion-item
            class="c-ion-item c-ion-item--900"
            button
            [detail]="false"
            (click)="searchFromHistory(item.name)">
            <app-icon class="u-margin-right--sm" src="/assets/icons/clock-history.svg"></app-icon>
            <ion-label>{{item.name}}</ion-label>
            <ion-button class="c-ion-button--inline" fill="clear" slot="end" (click)="removeFromHistory(item.id)">
              <app-icon name="close" title="Remove"></app-icon>
            </ion-button>
          </ion-item>
        </ng-container>
      </div>
    </ng-template>
  </ng-template>
</ion-content>
