<div class="e-related-games">
  <ion-header class="c-header" slot="fixed" mode="ios">
    <ion-toolbar>
      <ion-title>
        <ng-container *ngIf="headerTitle; else additionalContent"> {{ headerTitle }} </ng-container>
        <ng-template #additionalContent> Additional content </ng-template>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button class="c-header__button u-color--danger" (click)="dismiss()">
          <app-icon name="close"></app-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="c-games-list" *ngIf="games">
    <ng-container *ngFor="let game of games">
      <app-game-list-item [game]="game" titleSize="small" (click)="dismiss()"></app-game-list-item>
    </ng-container>
  </div>
</div>
