<ion-tabs #ionTabs (ionTabsWillChange)="tabChanged($event)">
  <ion-tab-bar slot="bottom" mode="ios" translucent="true">
    <ion-tab-button tab="home">
      <app-icon class="c-tabs__icon" *ngIf="selectedTab !== 'home'" name="home-outline"></app-icon>
      <app-icon class="c-tabs__icon" *ngIf="selectedTab === 'home'" name="home"></app-icon>
    </ion-tab-button>

    <ion-tab-button tab="games">
      <app-icon class="c-tabs__icon" *ngIf="selectedTab !== 'games'" name="game-controller-outline"></app-icon>
      <app-icon class="c-tabs__icon" *ngIf="selectedTab === 'games'" name="game-controller"></app-icon>
    </ion-tab-button>

    <ion-tab-button tab="platforms">
      <app-icon class="c-tabs__icon" *ngIf="selectedTab !== 'platforms'" name="hardware-chip-outline"></app-icon>
      <app-icon class="c-tabs__icon" *ngIf="selectedTab === 'platforms'" name="hardware-chip"></app-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
