ion-tab-bar {
  --border: unset;
  --background: var(--color-bg);
  height: 55px;
}

ion-tab-button {
  --color: var(--color-blue-alt);
  --color-selected: var(--color-text);
  --background-focused: var(--color-blue);
  --color-focused: var(--color-bg);
}

.c-tabs {
  &__icon {
    font-size: 28px;
  }
}
