<ion-header class="c-header" slot="fixed" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="c-header__button" routerLink="/tabs/games/search">
        <app-icon name="search"></app-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Start editing to see some magic happen :)</p>
  <button class="c-button" (click)="getGames()">get games</button>

  <div class="c-games-list" *ngIf="games$ | async as games">
    <ng-container *ngFor="let game of games">
      <app-game-list-item [game]="game" titleSize="small"></app-game-list-item>
    </ng-container>
  </div>
</ion-content>
