<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Start editing to see some magic happen :)</p>
  <button (click)="toggle()">open inline modal</button>

  <ion-modal class="imodal" [isOpen]="isOpen">
    <ng-template>
      <div class="modal">
        <app-button color="error" [circle]="40" [fontSize]="28" (click)="toggle()" class="u-margin-left--auto">
          <ion-icon name="close"></ion-icon>
        </app-button>
        <p>some content</p>
        <p>some content</p>
        <p>some content</p>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
