<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Start editing to see some magic happen :)</p>
  <button class="c-button" (click)="getGames()">get games</button>

  <ion-list *ngIf="games$ | async as games" mode="ios">
    <ng-container *ngFor="let game of games">
      <ion-item routerLink="/tabs/games/{{game.id}}">
        <ion-avatar>
          <img [src]="game.cover.url" />
        </ion-avatar>
        <ion-label> {{game.name}} </ion-label>
      </ion-item></ng-container
    >
  </ion-list>
</ion-content>
