<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p (click)="dateModal()">
    {{date | date: 'dd MMM yyyy':'UTC -0300':'pt-BR'}} às {{date | date: 'HH mm':'UTC -0300'}}
  </p>
  <ion-modal [isOpen]="isOpen" class="date-modal">
    <ng-template>
      <ion-datetime locale="pt-BR" mode="ios" (ionChange)="setDate($event)" [min]="dateNow" size="cover" [max]="maxDate"
        presentation="date">
      </ion-datetime>
      <div class="close-container">
        <button (click)="dateModal()">Fechar</button>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
