.date-modal::part(content) {
  color: #000;
  padding: 16px;
  background: var(--ion-color-light, #ffffff);
}

ion-datetime,
ion-picker-internal,
ion-picker-column-internal {
  --ion-color-base: #ff226d !important;
}

.close-container {
  width: 100%;
  padding: 16px 0;
  display: flex;
  justify-content: center;

  button {
    font-size: 16px;
    background: unset;
    color: #000;
  }
}
