@import 'variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: var(--color-bg);
  font-family: 'Public Sans', sans-serif;
  --ion-font-family: 'Public Sans', sans-serif;
}

a {
  color: var(--color-blue);
  cursor: pointer;
}

button {
  all: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ion-content {
  --background: var(--color-bg);
  --overflow: visible;
  --color: #fff;
  font-family: inherit;
}

ion-popover {
  --ion-background-color: var(--color-bg-alt);
}

ion-modal .ion-page {
  position: relative;
  contain: content;
}

ion-modal::part(backdrop) {
  z-index: 100;
  --backdrop-opacity: 0.32;
}

ion-modal::part(content) {
  --height: auto;
  --width: calc(100% - 32px);
  --border-radius: 20px;
  margin-top: auto;
  margin-bottom: 16px;
  overflow-y: auto;
  --max-height: calc(100vh - 32px);
  z-index: 101;
}
