@import 'variables.scss';

html,
body {
  background: var(--color-bg);
  font-family: 'Public Sans', sans-serif;
}

a {
  color: var(--color-blue);
  cursor: pointer;
}

button {
  all: unset;
}

ion-content {
  --background: var(--color-bg);
  --overflow: visible;
  --color: #fff;
  font-family: inherit;
}
