.u-margin-left--auto {
  margin-left: auto !important;
}

.u-bg--danger {
  background: var(--color-danger) !important;
}

.u-bg--warning {
  background: var(--color-warning) !important;
}

.u-bg--success {
  background: var(--color-success) !important;
}
