/* color */
$colors: (
  'error': var(--color-danger),
  'danger': var(--color-danger),
  'warning': var(--color-warning),
  'success': var(--color-success),
  'neutral': var(--color-text),
  'blue': var(--color-blue),
);

@each $color, $color-value in $colors {
  .u-bg--#{$color} {
    background: $color-value !important;
  }

  .u-color--#{$color} {
    color: $color-value !important;
    --color: $color-value !important;
  }
}

/* font-weight */
$weights: (
  '500': 500,
  '600': 600,
  '700': 700,
  '800': 800,
);

@each $weight, $weight-value in $weights {
  .u-font-weight--#{$weight} {
    font-weight: $weight-value;
  }
}

/* margin & padding */
$directions: 'top', 'right', 'bottom', 'left';
$sizes: (
  'auto': auto,
  'none': 0,
  'xs': var(--size-xs),
  'sm': var(--size-sm),
  'md': var(--size-md),
  'lg': var(--size-lg),
  'xl': var(--size-xl),
);

@each $direction in $directions {
  @each $size, $size-value in $sizes {
    .u-margin--#{$size} {
      margin: $size-value !important;
    }

    .u-margin-x--#{$size} {
      margin-left: $size-value !important;
      margin-right: $size-value !important;
    }

    .u-margin-y--#{$size} {
      margin-top: $size-value !important;
      margin-bottom: $size-value !important;
    }

    .u-margin-#{$direction}--#{$size} {
      margin-#{$direction}: $size-value !important;
    }

    .u-padding--#{$size} {
      padding: $size-value !important;
    }

    .u-padding-x--#{$size} {
      padding-left: $size-value !important;
      padding-right: $size-value !important;
    }

    .u-padding-y--#{$size} {
      padding-top: $size-value !important;
      padding-bottom: $size-value !important;
    }

    .u-padding-#{$direction}--#{$size} {
      padding-#{$direction}: $size-value !important;
    }
  }
}

/* display */
$displays: (
  'none': none,
  'contents': contents,
  'block': block,
  'flex': flex,
  'table': table,
  'inline-block': inline-block,
  'inline-flex': inline-flex,
  'inline-table': inline-table,
);

@each $display, $display-value in $displays {
  .u-display--#{$display} {
    display: $display-value !important;
  }
}

/* text */
.u-text-align--center {
  text-align: center;
}
