:root {
  // colors
  --color-bg-900: #16171d;
  --color-bg-800: #21242d;
  --color-bg-700: #353841;
  --color-text: white;
  --color-text-alt: #e4e8ea;
  --color-disabled: #5f6b71;

  --color-success: #32ff7e;
  --color-warning: #feca57;
  --color-danger: #ff4d4d;
  --color-blue: #48dbfb;

  --color-blue-800: #364659;
  --color-blue-900: #1f2935;

  --color-gray-600: #aaaaaa;

  --color-rating-200: #ff664f;
  --color-rating-300: #ff7f51;
  --color-rating-400: #fe9853;
  --color-rating-500: #feb155;
  --color-rating-600: var(--color-warning);
  --color-rating-700: #cbd761;
  --color-rating-800: #98e56b;
  --color-rating-900: #65f274;

  // brand colors
  --color-playstation: #003087;
  --color-xbox: #107c10;
  --color-nintendo: #e60012;
  --color-linux: #dd4814;
  --color-windows: #01a6f0;
  --color-apple: #666666;
  --color-android: #3ddc84;
  --color-stadia: linear-gradient(135deg, #fc4a1f, #ac0d57);

  // sizings
  --size-xs: 4px;
  --size-sm: 8px;
  --size-md: 16px;
  --size-lg: 24px;
  --size-xl: 32px;
}
