:root {
  // colors
  --color-bg: #16171d;
  --color-bg-alt: #21242d;
  --color-text: white;
  --color-disabled: #5f6b71;

  --color-success: #32ff7e;
  --color-warning: #feca57;
  --color-danger: #ff4d4d;
  --color-blue: #48dbfb;

  --color-blue-800: #364659;
  --color-blue-900: #1f2935;

  --color-gray-600: #aaaaaa;

  // sizings
  --size-xs: 4px;
  --size-sm: 8px;
  --size-md: 16px;
  --size-lg: 24px;
  --size-xl: 32px;
}
