:root {
  // colors
  --color-bg-900: #16171d;
  --color-bg-800: #21242d;
  --color-bg-700: #353841;
  --color-text: white;
  --color-text-alt: #e4e8ea;
  --color-disabled: #5f6b71;

  --color-success: #32ff7e;
  --color-warning: #feca57;
  --color-danger: #ff4d4d;
  --color-blue: #48dbfb;
  --color-purple: #9f6fe2; // #bc9af5

  --color-blue-800: #364659;
  --color-blue-900: #1f2935;

  --color-gray-600: #aaaaaa;

  --color-rating-200: #ff664f;
  --color-rating-300: #ff7f51;
  --color-rating-400: #fe9853;
  --color-rating-500: #feb155;
  --color-rating-600: var(--color-warning);
  --color-rating-700: #cbd761;
  --color-rating-800: #98e56b;
  --color-rating-900: #65f274;

  // brand colors
  --color-playstation: #003087;
  --color-xbox: #107c10;
  --color-nintendo: #e60012;
  --color-linux: #dd4814;
  --color-windows: #01a6f0;
  --color-apple: #666666;
  --color-android: #3ddc84;
  --color-stadia: linear-gradient(135deg, #fc4a1f, #ac0d57);

  --color-official: #128c7e;
  --color-wikipedia: #636466;
  --color-facebook: #1877f2;
  --color-twitter: #1da1f2;
  --color-twitch: #9146ff;
  --color-instagram: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  --color-youtube: #ff0000;
  --color-steam: linear-gradient(120deg, #00adee, #000000);
  --color-reddit: #ff4500;
  --color-discord: #7289da;

  // sizings
  --size-xs: 4px;
  --size-sm: 8px;
  --size-md: 16px;
  --size-lg: 24px;
  --size-xl: 32px;
}
