<div class="c-game-item e-game-item-loading">
  <div class="c-game-item__cover">
    <ion-skeleton-text class="e-game-item-loading__cover" animated></ion-skeleton-text>
  </div>

  <div class="c-game-item__info">
    <ion-skeleton-text class="c-game-item__title e-game-item-loading__title" animated></ion-skeleton-text>
    <ion-skeleton-text class="e-game-item-loading__tag" animated></ion-skeleton-text>

    <div class="c-game-item__misc">
      <ion-skeleton-text class="e-game-item-loading__misc" animated></ion-skeleton-text>
      <ion-skeleton-text class="e-game-item-loading__misc" animated></ion-skeleton-text>
    </div>
  </div>
</div>
