<div class="e-search-filter" [class.e-search-filter--opened]="showFilter">
  <ion-header class="c-header" slot="fixed" mode="ios">
    <ion-toolbar>
      <ion-title>Filter search</ion-title>
      <ion-buttons slot="start">
        <ion-button class="c-header__button" title="Reset" (click)="resetPreferences()">
          <app-icon name="refresh-outline"></app-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button class="c-header__button u-color--danger" title="Close" (click)="closeFilter()">
          <app-icon name="close"></app-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="unsavedOptions">
    <div class="u-padding--md u-width--100">
      <!--
      <p class="e-search-filter__label">Search for games by</p>
      <ion-radio-group
        class="c-ion-list"
        mode="ios"
        [value]="unsavedOptions.parameter"
        (ionChange)="changeOption('parameter', $event, true)">
        <ng-container *ngFor="let parameter of parameters">
          <ion-item class="c-ion-item c-ion-item--900">
            <ion-label>{{ parameter.name }}</ion-label>
            <ion-radio [value]="parameter.id"></ion-radio>
          </ion-item>
        </ng-container>
      </ion-radio-group>

      <div class="u-margin-bottom--md"></div>
      -->

      <!-- sort by -->
      <app-input-select
        label="Sort by"
        [multiple]="false"
        [options]="sortingParameters"
        [value]="unsavedOptions.sortBy"
        (update)="changeOption('sortBy', $event)">
      </app-input-select>

      <div
        class="e-search-filter__drawer"
        [class.e-search-filter__drawer-opened]="unsavedOptions.sortBy !== 'none'">
        <p
          class="e-search-filter__label"
          [class.e-search-filter__label-disabled]="unsavedOptions.sortBy === 'none'">
          Sort order
        </p>
        <ion-radio-group
          class="c-ion-list"
          mode="ios"
          [value]="unsavedOptions.sortOrder"
          (ionChange)="changeOption('sortOrder', $event, 'value')">
          <ng-container *ngFor="let order of sortingOrder">
            <ion-item class="c-ion-item c-ion-item--900">
              <ion-label>{{ order.name }}</ion-label>
              <ion-radio [disabled]="unsavedOptions.sortBy === 'none'" [value]="order.id"></ion-radio>
            </ion-item>
          </ng-container>
        </ion-radio-group>
      </div>

      <!-- platforms -->
      <div class="u-margin-top--md"></div>
      <app-input-select
        label="Platforms"
        [options]="platforms"
        [value]="unsavedOptions.platforms"
        (update)="changeOption('platforms', $event)">
      </app-input-select>

      <!-- categories -->
      <hr class="l-break u-margin-x--none" />
      <app-input-select
        label="Categories"
        [isCategory]="true"
        [options]="categories"
        [items]="[unsavedOptions.genres, unsavedOptions.themes]"
        (categories)="changeCategory(false, $event)">
      </app-input-select>

      <!-- game modes -->
      <hr class="l-break u-margin-x--none" />
      <app-input-select
        label="Game modes"
        [options]="modes"
        [value]="unsavedOptions.game_modes"
        (update)="changeOption('game_modes', $event)">
      </app-input-select>

      <!-- perspectives -->
      <hr class="l-break u-margin-x--none" />
      <app-input-select
        label="Perspectives"
        [options]="perspectives"
        [value]="unsavedOptions.player_perspectives"
        (update)="changeOption('player_perspectives', $event)">
      </app-input-select>

      <!-- status 
      <!--
      <hr class="l-break u-margin-x--none" />
      <app-input-select
        label="Status"
        [options]="status"
        [value]="unsavedOptions.status"
        (update)="changeOption('status', $event)">
      </app-input-select>
      -->

      <!-- display ratings by -->
      <hr class="l-break u-margin-x--none" />
      <app-input-select
        label="Display ratings by"
        [multiple]="false"
        [options]="ratingParameters"
        [value]="unsavedOptions.ratingDisplay"
        (update)="changeOption('ratingDisplay', $event)">
      </app-input-select>

      <!-- ignore categories -->
      <hr class="l-break u-margin-x--none" />
      <app-input-select
        label="Categories to ignore"
        message="Games from selected categories will be removed from search"
        [isCategory]="true"
        [options]="categories"
        [items]="[unsavedOptions.ignore.genres, unsavedOptions.ignore.themes]"
        (categories)="changeCategory(true, $event)">
      </app-input-select>

      <!-- ratings and range -->
      <div class="u-margin-top--md">
        <ion-item class="c-ion-item c-ion-item--900" mode="ios">
          <ion-label>Show unrated games</ion-label>
          <ion-checkbox
            class="c-ion-checkbox"
            [checked]="unsavedOptions.showUnrated"
            (ionChange)="changeOption('showUnrated', $event, 'checked')"></ion-checkbox>
        </ion-item>
        <div class="e-search-filter__drawer" [class.e-search-filter__drawer-opened]="!unsavedOptions.showUnrated">
          <hr class="l-break u-margin-x--none" />
          <app-input-select
            label="Rating range by"
            [disabled]="unsavedOptions.showUnrated"
            [multiple]="false"
            [options]="ratingParameters"
            [value]="unsavedOptions.ratingBy"
            (update)="changeOption('ratingBy', $event)">
          </app-input-select>

          <hr class="l-break u-margin-x--none" />
          <ion-item class="c-ion-item c-ion-item--900" mode="ios">
            <ion-range
              class="c-ion-range"
              [debounce]="100"
              [dualKnobs]="true"
              [value]="unsavedOptions.rating"
              (ionChange)="changeRange($event)"></ion-range>
          </ion-item>
          <p class="u-width--100 u-text-align--center">
            {{ unsavedOptions.rating.lower }} ~ {{ unsavedOptions.rating.upper }}
          </p>
        </div>
      </div>
    </div>

    <div class="u-margin-top--auto u-padding--md u-width--100">
      <ion-button class="c-ion-button" expand="block" mode="ios" (click)="updatePreferences()">Save</ion-button>
    </div>
  </ng-container>
</div>
