:host {
  display: contents;
}

.e-search-filter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: height 300ms ease;
  background: var(--color-bg-900);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &--opened {
    height: 100%;
    overflow-y: auto;
  }

  ion-radio {
    --color-checked: var(--color-success);
  }

  &__label {
    font-size: 17px;
    margin-bottom: var(--size-xs);

    &-disabled {
      opacity: 0.3;
    }
  }

  &__drawer {
    margin-top: var(--size-sm);
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease;

    &-opened {
      max-height: 100%;
    }
  }
}
