<div class="e-search-filter" [class.e-search-filter--opened]="showFilter">
  <ion-header class="c-header" slot="fixed" mode="ios">
    <ion-toolbar>
      <ion-title>Filter search</ion-title>
      <ion-buttons slot="end">
        <ion-button class="c-header__button u-color--danger" (click)="closeFilter()">
          <app-icon name="close"></app-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="unsavedOptions">
    <div class="u-padding--md u-width--100">
      <ion-radio-group
        class="c-ion-list"
        mode="ios"
        [value]="unsavedOptions.sortOrder"
        (ionChange)="changeOption('sortOrder', $event)">
        <ion-item class="c-ion-item c-ion-item--900">
          <ion-radio value="asc"></ion-radio>
          <ion-label>Ascending</ion-label>
        </ion-item>

        <ion-item class="c-ion-item c-ion-item--900">
          <ion-radio value="desc"></ion-radio>
          <ion-label>Descending</ion-label>
        </ion-item>

        <ion-item class="c-ion-item c-ion-item--900">
          <ion-radio value="none"></ion-radio>
          <ion-label>None</ion-label>
        </ion-item>
      </ion-radio-group>

      <app-input-select
        label="Platforms"
        [options]="platforms"
        [value]="unsavedOptions.platforms"
        (update)="changeOption('platforms', $event)">
      </app-input-select>

      <app-input-select
        label="Categories"
        [isCategory]="true"
        [options]="categories"
        [items]="[unsavedOptions.genres, unsavedOptions.themes]"
        (categories)="changeCategory(false, $event)">
      </app-input-select>

      <app-input-select
        label="Ignore"
        message="Games from these categories will be removed from seach"
        [isCategory]="true"
        [options]="categories"
        [items]="[unsavedOptions.ignore.genres, unsavedOptions.ignore.themes]"
        (categories)="changeCategory(true, $event)">
      </app-input-select>
    </div>

    <div class="u-margin-top--auto u-padding--md u-width--100">
      <ion-button class="c-ion-button" expand="block" mode="ios" (click)="updatePreferences()">Save</ion-button>
    </div>
  </ng-container>
</div>
