.e-modal {
  position: relative;
  z-index: 1;
  background: var(--color-bg-800);
  display: flex;
  flex-direction: column;

  ion-toolbar {
    --border-color: transparent;
    --background: var(--color-bg-800);
    --min-height: 50px;
  }

  ion-title {
    font-size: 20px;
  }

  &__close {
    --color: var(--color-danger);
    font-size: var(--size-lg);
  }

  &__button {
    position: absolute;
    top: var(--size-md);
    right: var(--size-md);
  }

  &__content {
    padding: var(--size-md);

    &-margin {
      margin-top: 50px;
    }
  }
}
