.e-modal {
  position: relative;
  z-index: 1;
  background: var(--color-bg-alt);
  padding: var(--size-md);
  display: flex;
  flex-direction: column;

  &__button {
    position: absolute;
    top: var(--size-md);
    right: var(--size-md);
  }

  &__content-margin {
    margin-top: 50px;
  }
}
