.c-avatar {
  width: var(--size-xl);
  height: var(--size-xl);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--size-lg);
  border-radius: 50%;
  background: var(--color-blue-800);
  color: var(--color-text);
  margin-right: var(--size-sm);
}
