// manipulating slides needs to be global, but it needs to be kept in a scope
.e-pic-slider {
  .swiper-slide {
    width: 150px;
    aspect-ratio: 25/14;
    position: relative;

    &:first-of-type {
      margin-left: var(--size-md);
    }
    &:last-of-type {
      margin-right: var(--size-md);
    }
  }
}

.e-screenshots-modal {
  .swiper-slide {
    width: auto !important;
  }

  .swiper-pagination-bullet {
    background: var(--color-text);
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.75));
  }
}
