.c-tag {
  white-space: nowrap;
  font-size: 12px;
  padding: 4px 6px;
  background: var(--color-blue-900);
  border-radius: 6px;
  display: table;
}

.c-label {
  display: inline-flex;
  align-items: center;
  gap: var(--size-xs);
  padding: var(--size-xs);
  font-size: 14px;
  border-radius: 6px;
  color: var(--color-text);
  min-width: 24px;
  text-align: center;
}
