.e-circular-progress {
  position: relative;
  display: inline-flex;

  &__progress {
    stroke: var(--rating-bg);
    transition: stroke-dasharray 1s ease;
  }

  &__rating {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--size-xl);
  }
}
