.e-ratings-modal {
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__count {
    padding: 4px 6px;
    font-weight: 600;
    border: 1px solid var(--color-text);
    border-radius: 6px;
  }
}
