.e-ratings-modal {
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: var(--size-md);
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__count {
    padding: 2px 4px;
    font-weight: 600;
    background: var(--color-text);
    color: var(--color-bg-900);
    border-radius: 6px;
  }
}
